In [68]:
#!pip install python-binance

In [86]:
from binance.client import Client
import pandas as pd

In [85]:
api_key = ''
secret_key = ''

In [87]:
client = Client(api_key, secret_key)

In [116]:
depth = client.get_order_book(symbol = 'BTCUSDT', limit = 500)

In [117]:
df_depth = pd.DataFrame(depth)

In [118]:
def col_separator (df):
    df['bid_price'] = df['bids'].apply(lambda x: x[0])
    df['ask_price'] = df['asks'].apply(lambda x: x[0])
    df['bid_volume'] = df['bids'].apply(lambda x: x[1])
    df['ask_volume'] = df['asks'].apply(lambda x: x[1])
    return df

In [119]:
df_depth = col_separator(df_depth).drop(columns = ['bids','asks'])
df_depth

     lastUpdateId       bid_price       ask_price   bid_volume  ask_volume
0     18768831305  39156.16000000  39156.17000000   5.27577000  1.28587000
1     18768831305  39155.22000000  39156.75000000   1.85211000  0.00383000
2     18768831305  39154.66000000  39157.55000000   0.00745000  0.00097000
3     18768831305  39154.13000000  39157.62000000   0.34474000  0.15298000
4     18768831305  39153.41000000  39157.63000000   0.00027000  0.61186000
..            ...             ...             ...          ...         ...
495   18768831305  38922.00000000  39254.41000000   0.00552000  0.00051000
496   18768831305  38920.45000000  39254.44000000   0.02060000  0.00030000
497   18768831305  38920.21000000  39254.49000000   0.01970000  0.02777000
498   18768831305  38920.18000000  39254.63000000  11.56600000  0.02691000
499   18768831305  38920.00000000  39255.00000000   0.05139000  0.00039000

[500 rows x 5 columns]

In [98]:
df_depth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lastUpdateId  500 non-null    int64
 1   bid_price     500 non-null    object
 2   ask_price     500 non-null    object
 3   bid_volume    500 non-null    object
 4   ask_volume    500 non-null    object
dtypes: int64(1), object(4)
memory usage: 19.7+ KB

In [99]:
df_depth['bid_price'] = df_depth['bid_price'].astype('float')
df_depth['ask_price'] = df_depth['ask_price'].astype('float')
df_depth['bid_volume'] = df_depth['bid_volume'].astype('float')
df_depth['ask_volume'] = df_depth['ask_volume'].astype('float')

In [100]:
bid_vol = df_depth['bid_volume'].sum()
ask_vol = df_depth['ask_volume'].sum()

print('Bid total volume: {}'.format(bid_vol))
print('Ask total volume: {}'.format(ask_vol))

Bid total volume: 160.00368000000003
Ask total volume: 64.77283

In [106]:
trades = client.get_recent_trades(symbol = 'BTCUSDT', limit = 1000)

In [107]:
df_trades = pd.DataFrame(trades)
df_trades

,id,price,qty,quoteQty,time,isBuyerMaker,isBestMatch
0,1338662428,38940.88000000,0.00580000,225.85710400,1651075013898,False,True
1,1338662429,38940.87000000,0.00083000,32.32092210,1651075014124,True,True
2,1338662430,38940.88000000,0.00032000,12.46108160,1651075014177,False,True
3,1338662431,38940.89000000,0.00074000,28.81625860,1651075014221,True,True
4,1338662432,38940.89000000,0.01510000,588.00743900,1651075015279,True,True
...,...,...,...,...,...,...,...
995,1338663423,38952.07000000,0.00026000,10.12753820,1651075108587,False,True
996,1338663424,38952.07000000,0.01846000,719.05521220,1651075108772,False,True
997,1338663425,38952.07000000,0.02830000,1102.34358100,1651075108776,False,True
998,1338663426,38952.07000000,0.02913000,1134.67379910,1651075108780,False,True
999,1338663427,38952.07000000,0.02412000,939.52392840,1651075108793,False,True

In [109]:
df_trades['time'] = pd.to_datetime(df_trades['time'], unit = 'ms')
df_trades['price'] = df_trades['price'].astype('float')
df_trades['qty'] = df_trades['qty'].astype('float')
df_trades['quoteQty'] = df_trades['quoteQty'].astype('float')

df_trades

,id,price,qty,quoteQty,time,isBuyerMaker,isBestMatch
0,1338662428,38940.88,0.00580,225.857104,2022-04-27 15:56:53.898,False,True
1,1338662429,38940.87,0.00083,32.320922,2022-04-27 15:56:54.124,True,True
2,1338662430,38940.88,0.00032,12.461082,2022-04-27 15:56:54.177,False,True
3,1338662431,38940.89,0.00074,28.816259,2022-04-27 15:56:54.221,True,True
4,1338662432,38940.89,0.01510,588.007439,2022-04-27 15:56:55.279,True,True
...,...,...,...,...,...,...,...
995,1338663423,38952.07,0.00026,10.127538,2022-04-27 15:58:28.587,False,True
996,1338663424,38952.07,0.01846,719.055212,2022-04-27 15:58:28.772,False,True
997,1338663425,38952.07,0.02830,1102.343581,2022-04-27 15:58:28.776,False,True
998,1338663426,38952.07,0.02913,1134.673799,2022-04-27 15:58:28.780,False,True
999,1338663427,38952.07,0.02412,939.523928,2022-04-27 15:58:28.793,False,True

In [111]:
df_trades.groupby('isBuyerMaker')['quoteQty'].sum().reset_index()

   isBuyerMaker       quoteQty
0         False  986822.666324
1          True  812126.460394

In [1]:
from binance.enums import *


order = client.create_test_order(symbol = 'BTCUSDT',
                                side = SIDE_SELL,
                                type = ORDER_TYPE_LIMIT,
                                timeInForce = TIME_IN_FORCE_GTC,
                                quantity = 1,
                                price = 55000
                                )

NameError: name 'client' is not defined